<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Expense Tracker:</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item color="dark">
      <ion-label position="stacked"> Description: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="stacked"> Amount: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div class="ion-padding-horizontal ion-text-end">
      <ion-button fill="outline" color="danger" class="ion-margin-end">
        <ion-icon icon="close-outline" slot="start"></ion-icon> Clear
      </ion-button>
      <ion-button>
        <ion-icon icon="add-outline" slot="start"></ion-icon>
        Add Expense
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
